<html>
    <head>
        <link href="/allstyles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="paper" style="margin-top:6.5em">
        
        <h3> 
            课程查询
        </h3>
        <span>
            <div class="btn"><a href="/t">主菜单</a>  
            </div>
        </span>

        <div class="btn">   
            <form action="/t/action/courselect" method="post">
                学&emsp;期: <input type="text" name="term">
                <br>
                课&emsp;程: <input type="text" name="course">
                <br>
                
                <input type="submit" value="确定">
                
            </form>
        </div>
    </body>
</html>